.title {
	padding: 20px;
}

.parrafo {
	padding: 10px;
	font-size: 1.2rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	font-size: medium;
}

.song-card-container {
	background-color: #080808;
	padding: 2px;
	border-radius: 6px;
}
